* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	}

body {
	padding: 0 3em;
	background-color: #EEE;
	color: #111;
	font-size: 1em;
	line-height: 1.5em;
	max-width: 40em;
	}


a:link { color: #00C; }
a:visited {	color: #306; }


h1 {
	font-size: 2.5em;
	margin: 1em 0;
	text-align: center;
	}
h1 + h2 { 
	margin-top: 0; 
	}
h2 {
	font-size: 2.25em;
	margin: 1.5em -1.33em 0.4em -1.33em;
	padding: 0.4em 1.33em;
	background-color: #999;
	/*
	display: inline-block;
	padding: 0.4em 1.33em 0.4em 1.33em;
	*/
	}
h3 {
	font-size: 1.75em;
	margin-top: 1.25em;
	margin-bottom: 0.25em;
	}
h4 {
	font-size: 1em;
	margin-top: 0.5em;
	font-weight: bold;
	}


h4 + p {
	margin-top: 0;
	}
p, pre {
	margin-top: 0.5em;
	margin-bottom: 1em;
	}
pre {
	line-height: 1.5em;
	margin-left: 2em;
	}
p + ol, p + ul {
	margin-top: -1em;
	}
ol, ul {
	margin-left: 2.75em;
	}
abbr {
	border-bottom: 1px dotted #333;
	}


table {
	border-collapse: collapse;
	margin-right: -10em;
	}
th, td {
	padding: 0.25em 0.5em;
	}
td + td {
	text-align: right;
	}
th {
	border-bottom: 3px solid #444;
	}
td {
	border-bottom: 1px solid #777;
	}
