body {
	line-height: 1.5em;
}

table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid gray;
	padding: 0 0.5em;
}
thead th {
	padding: 0.5em 0.5em;
}

.points {
	text-align: right;
}
input.points {
	width: 4em;
}
textarea {
	width: 30em;
	height: 4em;
}
