{% extends "base.html" %}
{% block title %}Edit grades for {{ assignment.name }}{% endblock %}
{% block content %}
<h1>Update Grades for {{ assignment.name }}</h1>
<form action="{{ url_for('assignment_grades_update', assignment_pk=assignment.pk) }}" method="post" accept-charset="utf-8">
	<table border="1">
		<thead>
			<tr>
				<th>Student</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>{{ student.first_name }} {{ student.last_name }}</td>
				<td><input type="text" name="student_{{ student.pk }}" value="{{ student.grade.points }}"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p><input type="submit" value="Save grades"></p>
</form>
{% endblock %}
