{% extends "base.html" %}
{% block title %}Assignment List{% endblock %}
{% block content %}
<h1>List of Assignments</h1>
<p><a href="{{ url_for('assignment_create') }}">Create a new assignment</a></p>
<table border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Points</th>
			<th>Due Date</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{%- for assignment in assignments %}
		<tr>
			<td><a href="{{ url_for('assignment_update', assignment_id=assignment.pk) }}">{{ assignment.name }}</a></td>
			<td>{{ assignment.points }}</td>
			<td>{{ assignment.due_date }}</td>
			<td>{{ assignment.description }}</a></td>
		</tr>
		{%- endfor %}
	</tbody>
</table>
{% endblock %}
