{% extends "base.html" %}
{% block title %}Update an Assignment{% endblock %}
{% block content %}
<h1>Update an Assignments’s Info</h1>
<form action="{{ url_for('assignment_update', assignment_pk=assignment.pk) }}" method="post" accept-charset="utf-8">
	<p>Name: <input type="text" name="name" value="{{ assignment.name }}" required autofocus></p>
	<p>Description: <input type="text" name="description" value="{{ assignment.description }}"></p>
	<p>Due date: <input type="date" name="due_date" value="{{ assignment.due_date }}"></p>
	<p>Points <input type="number" min="0" name="points" value="{{ assignment.points }}"></p>
	<p><input type="submit" name="update" value="Save">
</form>
{% endblock %}
