<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{% block title %}{% endblock%} ― SimpleGradebook</title>
	</head>
	<body>
		<div id="nav">
			{% block nav %}
			<ul>
				{# TODO: Change urls to use url_for #}
				<li><a href="/gradebook/">Gradebook</a></li>
				<li><a href="/assignments/">Assignments</a></li>
				<li><a href="/students/">Students</a></li>
			</ul>
			{% endblock %}
		</div>

		<div id="content">
		{% block content %}{% endblock %}
		</div>

		<div id="footer">
		{% block footer %}{% endblock %}	
		</div>
	</body>
</html>
