{% extends "base.html" %}
{% block title %}The Gradebook{% endblock %}
{% block content %}
<p>The <a href="{{ url_for('public_gradebook') }}" title="The public gradebook page">public gradebook</a> is a single-page gradebook suitable anonymized for distribution to your class.<p>
<table border="1">
	<thead>
		<tr>
			<th>Student</th>
			{% for assignment in assignments %}
			<th><a href="{{ url_for('assignment_view', assignment_pk=assignment.pk) }}">{{ assignment.name }}</a></th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>
			<td><a href="{{ url_for('student_view', student_pk=student.pk) }}">{{ student.first_name }} {{ student.last_name }}</a></td>
			{% for grade in student.grades %}
			<td>{{ grade }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
