{% extends "base.html" %}
{% block title %}The Gradebook{% endblock %}
{% block content %}
<table border="1">
	<thead>
		<tr>
			<th>Student</th>
			{% for assignment in assignments %}
			<th><a href="{{ url_for('assignment_view', assignment_id=assignment.pk) }}">{{ assignment.name }}</a></th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>
			<td><a href="{{ url_for('student_view', student_id=student.pk) }}">{{ student.first_name }} {{ student.last_name }}</a></td>
			{% for grade in student.grades %}
			<td>{{ grade or '' }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
