{% extends "base.html" %}
{% block title %}Student List{% endblock %}
{% block content %}
<h1>List of Students</h1>
<p><a href="{{ url_for('student_create') }}">Create a new student</a></p>
<table border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Alias</th>
			<th>Graduation Year</th>
			<th>Email Address</th>
		</tr>
	</thead>
	<tbody>
		{%- for student in students %}
		<tr>
			<td><a href="{{ url_for('student_update', student_id=student.pk) }}">{{ student.first_name }} {{ student.last_name }}</a></td>
			<td>{{ student.alias }}</td>
			<td>{{ student.grad_year }}</td>
			<td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
		</tr>
		{%- endfor %}
	</tbody>
</table>
{% endblock %}
