{% extends "base.html" %}
{% block title %}Student List{% endblock %}
{% block content %}
<table border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Alias</th>
			<th>Graduation Year</th>
			<th>Email Address</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>
			<td><a href="/students/update/{{ student.pk }}/">{{ student.name }}</a></td>
			<td>{{ student.alias }}</td>
			<td>{{ student.grad_year }}</td>
			<td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
